{% block container_open %}<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="modalSearchLabel" aria-hidden="true">{% endblock %}
    {% block form_open %}<form>{% endblock %}
        <div class="modal-dialog">
            <div class="modal-content">
                {% block header %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% block title %}{% endblock %}</h4>
                    </div>
                {% endblock %}
                {% block body %}
                    <div class="modal-body">
                        {% block content %}{% endblock %}
                    </div>
                {% endblock %}
                {% block footer %}
                    <div class="modal-footer">
                        <div class="btn-group pull-right">
                            {% block actions %}
                                {% block action_close %}
                                    <button type="reset" class="btn btn-default" data-dismiss="modal">{{ 'Close' | trans }}</button>
                                {% endblock %}
                                {% block action_submit %}
                                    <button type="submit" class="btn btn-primary">{{ 'Search' | trans }}</button>
                                {% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% block form_close %}</form>{% endblock %}
{% block container_close %}</div>{% endblock %}