{% extends 'CekurteGeneratorBundle::modal.html.twig' %}

{% block container_open %}<div id="modalDelete" class="modal fade">{% endblock %}

{% block title %}{{ 'Delete' | trans }}{% endblock %}

{% block form_open %}{% endblock %}
{% block form_close %}{% endblock %}

{% block content %}
    {{ 'Are you sure you want to delete this record?' | trans }}
{% endblock %}

{% block actions %}
    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ 'No' | trans }}</a>
    <a class="btn btn-danger confirm_delete">{{ 'Yes' | trans }}</a>
{% endblock %}