{% if cekurte_is_granted('LIST') %}
    {% block container_open %}{% endblock %}
        {% block action %}
            <a href="{{ path(route, {
                'sort': app.request.attributes.get('sort'),
                'direction': app.request.attributes.get('direction' )
            }) }}" class="btn btn-default">
                {% block action_icon %}<span class="glyphicon glyphicon-save"></span>{% endblock %} {{ 'Export' | trans }}
            </a>
        {% endblock %}
    {% block container_close %}{% endblock %}
{% endif %}