{% extends 'CekurteGeneratorBundle::layout.html.twig' %}

{%- block before_content -%}
    {%- if app.session.flashbag.has('commandOutput') -%}
        {%- block container_command_output_open_tag -%}<section class="messages">{%- endblock -%}
        {%- block command_output -%}
            {%- for flashMessage in app.session.flashbag.get('commandOutput') -%}
                {%- block container_alert_command_output_open_tag -%}<div class="alert alert-{%- if flashMessage.type == 'error' -%}danger{%- else -%}{{ flashMessage.type }}{%- endif %} fade in">{%- endblock -%}
                {%- block container_alert_command_output_button_close -%}<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{%- endblock -%}
                {%- block container_alert_command_output_message -%}<pre>{{ flashMessage.message | raw }}</pre>{%- endblock -%}
                {%- block container_alert_command_output_close_tag -%}</div>{%- endblock -%}
            {%- endfor -%}
        {%- endblock -%}
        {%- block container_command_output_close_tag -%}</section>{%- endblock -%}
    {%- endif -%}
{%- endblock -%}